header{
  height: 50px;
}

.content{
  height: 800px;
  margin: 0;
}

.first{
  background-color: antiquewhite;
}

.first div{
  height: 50%;
}

.services{
  background-color: beige;
}

footer{
  height: 50px;
  background-color: rgb(33, 37, 41);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
}